.header{
background-color: #ffff!important;
color: black;
/* border: 1px solid green; */

}

.navlinks{
    font-size: 1.40rem;
background-color: #ffff!important;
color: black;
    /* border: 1px solid red; */
}
.navdrop{
color: black;

}

.login{
background-color: #ffff;
color: #003087;
border-radius: 30%;
font-size: 1.40rem;
margin: 0px 30px 0px 0px;
}

.signup{
background-color: #003087;
border-radius: 30%;
font-size: 1.40rem;
}
.navbtns
{

}
.navbtns a{
    text-decoration: none;
    font-size: 1.40rem;
    background-color: #ffff!important;
    color: black;
    padding: 0px 35px 0px 0px;
}
.main{
    /* width: 80%;
    margin-left: auto;
    margin-right: auto; */
}

.firstSection{
    /* max-width: 1583px; */
      height: 980px;
     width: 100%;
     background-image: url(./images/Untitled.png) !important;
    /* background-repeat: no-repeat; */
    background-position: bottom;
    /* border: 3px solid black; */
   
}
.firstSectionContent{
    

    /* width: 80%; */
    color: white;
    padding: 78px 0px 0px 140px;
    /* background-color: #003087 !important; */
    /* border: 2px solid yellow; */
     
    
}
.firstSectionContent a{
text-decoration: none;
font-size:2.25rem ;
color: #56ccfe;

}

.firstSection h1{
    font-size: 6.25rem;
}
.firstSectionContent p{
    font-size: 1.25rem;
    color: white;
}
.firstSectionContent2{

}


.firstSectionContent2items{
    /* border: 2px solid green; */
    display: flex;
    justify-content:space-between ;
}

.firstSectionContent2item1{
    margin: 25px 0px 0px -83px


}

.firstSectionContent2item2{
    margin: -49px 102px 0px 0px;
}
.linkbtn{
    margin: -90px 0px 0px 242px;
}


.firstSectionContent2items img{
    padding: 0px 0px 0px 74px;
}
.firstSectionContent2item1 p{
    color: white;
    margin: 0px 0px 0px 233px;
    font-size: 22px;
}
.firstSectionContent2items p{

}
.firstSectionContent2items input{

}

.secondSection{
    background-color: white;
    text-align: center;
}
.secondSectioncontent{
    /* text-align: center; */

}
.thirdSection{
    display: flex;
    width: 80%;
    /* justify-content: center; */
}

.thirdSectionp2 h3{
    font-size: 43px;
    color: black;
}

.thirdSectionp2 p,a{
    font-size: 20px;
}
.thirdSectionp1{
    margin: 0px 0px 0px 230px;
}
.thirdSectionp2{

    margin: 70px 0px 0px 0px;
}

.fourthSection{
    margin: 99px 0px 0px 0px;
    background-color: white;
    width: 80%;
    display: flex;
}
.fourthSectionContent1{
    margin: 111px 0px 0px 295px;
}
.fourthSectionContent2{

}


.fifthSection{
    margin: 208px 0px 0px 0px;
    background-color: white;
    width: 80%;
    display: flex;
}
.fifthSectionContent1{
    margin: 0px 0px 0px 212px
}
.fifthSectionContent2{
    margin: 0px 0px 0px 105px;
}


.sixthSection{
    margin: 208px 0px 0px 0px;
    background-color: white;
    width: 80%;
    display: flex;

}

.sixthSectionContent1{
    margin: 0px 0px 0px 212px
}

.sixthSectionContent2{
    margin: 0px 0px 0px 105px;
}

.seventhSection{
    margin: 99px 0px 0px 0px;
    background-color: white;
    width: 80%;
    display: flex;

}
.seventhSectionContent1{
    margin: 111px 0px 0px 295px;
}
.seventhSectionContent2{

}


.eigthSection{
    margin: 99px 0px 0px 0px;
    background-color: white;
    width: 80%;
    display: flex;
}
.eigthSectionp1{
    margin: 48px 0px 0px 143px;
}
.eigthSectionp1 h2{
    font-size: 48px;
}
.eigthSectionp2{

}

.eigthSectionp3{


}

.eigthSectionp4{

}
.eigthSectionp5{

}

.ninthSection{
    background-color: #003087;
    color: white;
 
    margin: 72px 0px 0px 0px;
    text-align: center;
}

.signupforfree{
    border-radius: 30%;
}